/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	=========================
	Flex Elements
	=========================
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.flex-element {
    flex-basis: 49%;
}

/*
	=========================
	Custom Styles
	=========================
*/

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-weight: 600;
    font-size: 10.13333vw;
    line-height: 12.26667vw;
}

h3 {
    color: #000;
    font-weight: 600;
    font-size: 4.8vw;
    line-height: 6.4vw;
    margin-bottom: 4.26667vw;
}

h4{
    font-weight: 600;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    color: #882cff;
    margin-bottom: 4.26667vw;
}

p {
    font-size: 3.73333vw;
    line-height: 6.4vw;
    color: #69676b;
}

.container {
    margin-bottom: 4.26667vw;
}

.container h2,
.container h4,
.container p {
    margin-bottom: 4.26667vw;
}

/*
	=========================
	Buttons
	=========================
*/

.btn {
    background-color: #882cff;
    color: #f7f0ff;
    font-weight: 500;
    border-radius: 2.13333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 12.8vw;
    width: 100%;
    margin-top: 8.53333vw;
}

.btn:hover {
    background-color: #6108d4;
    color: #fefefe;
    font-weight: 500;
}

/*
	=========================
	Menu
	=========================
*/

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}

.top-nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 .5em grey;
    height: 3em;
    width: 96%;
    border-radius: 2.13333vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: .6em;
}

.element-logo a {
    position: relative;
    display: block;
    z-index: 101;
}

.element-logo a img {
    display: block;
    height: 8vw;
}

/* Menu button */

#menu-toggle {
    display: none;
  }

.menu-button-container {
    position: absolute;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 7vw;
    z-index: 101;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    position: absolute;
    background-color: #000;
    height: 1vw;
    width: 7vw;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -2vw;
}

.menu-button::after {
  content: '';
  margin-top: 2vw;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu {
    display: none;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 96%;
    height: 96%;
    border-radius: 2.13333vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: .6em;
    box-shadow: 0 0 .5em grey;
    padding: 25vw 10vw;
}

.menu-nav {
    display: flex;
    gap: 20%;
}

.menu .btn {
    margin-top: 10vw;
}

.menu .legal {
    margin-top: 10vw;
}

.menu-header a {
    font-weight: 500;
}

.sub-menu a {
    color: #882cff;
    font-weight: 300;
}

#menu-toggle:checked ~ .menu {
    display: inline-block;
}

/*
	=========================
	First Section
	=========================
*/

.first-section {
    display: block;
    width: 100%;
    padding: 21.33333vw 2.26667vw 14.93333vw;
    background-color: #fefefe;
    background-image: url("../images/first-section.png");
    background-repeat: no-repeat;
    background-position: left -12.26667vw;
    background-size: 104vw;
}

.first-section h2 {
    font-weight: 700;
}

.first-section aside {
    display: none;
}

/*
	=========================
	Second Section
	=========================
*/

.second-section {
    background-color: #fafafa;
    padding: 10.66667vw 2.26667vw 18.66667vw;
  }

/*
	=========================
	Third Section
	=========================
*/

.third-section {
  background-color: #151515;
  padding: 17.86667vw 2.26667vw 10.66667vw;
  clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
  margin-top: -8vw;
  background-image: url("../images/third-section-background.png");
  background-repeat: no-repeat;
  background-position: right -.26667vw;
  background-size: 104vw;
}

.third-section h2 {
    color: #fafafa;
}

.third-section span{
    margin-right: 2.13333vw;
}

.code aside {
    display: block;
    background: #3e475f;
    width: 96%;
    color: #abb2bf;
    font-size: 1.93333vw;
    line-height: 2.46667vw;
    border-radius: 2vw;
    width: 100%;
    margin-top: 4vw;
}

.code-header {
    justify-content: left;
    gap: 4vw;
    font-weight: 500;
    font-size: 3.73333vw;
    line-height: 5.86667vw;
    padding: 3vw 5vw;
    background-color: #282c34;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.code code {
    padding: 2vw 3vw;
}

.code-header div {
    cursor: pointer;
    color: white;
    padding: 1vw 2vw;
    border-radius: 3vw;
}

.code-toggle {
    display: none;
}

.android,
.ios,
.web {
    display: none;
}

#ios:checked ~ .ios {
    display: inline-block;
}

#android:checked ~ .android {
    display: inline-block;
}

#web:checked ~ .web {
    display: inline-block;
}

#ios:checked ~ div label[for=ios] div {
    background-color: #882cff;
}

#android:checked ~ div label[for=android] div {
    background-color: #882cff;
}

#web:checked ~ div label[for=web] div {
    background-color: #882cff;
}

/*
	=========================
	Fourth Section
	=========================
*/

.fourth-section {
    background-color: #6108d4;
    padding: 10.66667vw 2.26667vw 17.86667vw;
}

.fourth-section h2,
.fourth-section h3 {
    color: #fafafa;
}

.fourth-section p {
    color: #d4b4ff;
}

/*
	=========================
	Fifth Section
	=========================
*/

.logo .col-2-4 {
    margin-top: 8.53333vw;
}

.fifth-section {
    padding: 18.66667vw 2.26667vw;
    background-color: #fafafa;
    clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
    margin-top: -8vw;
}

.fifth-section h3 {
    margin-top: 6.4vw;
    font-size: 6.4vw;
    line-height: 2.53333vw;
}

/*
	=========================
	Sixth Section
	=========================
*/
.sixth-section {
    padding: 18.4vw 4.26667vw 10.66667vw;
    background-color: #fefefe;
    clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
    margin-top: -8vw;
}

.sixth-section h3 {
    font-size: 6.4vw;
    line-height: 8.53333vw;
    margin-bottom: 2.13333vw;
}

.sixth-section div {
    margin-bottom: 10.66667vw;
}

.form-btn {
    display: inline-block;
    height: 12.8vw;
    width: 16%;
    font-weight: 500;
    font-size: 4.26667vw;
    line-height: 3.2vw;
    border-radius: 2.13333vw;
    border: none;
}

.form{
    line-height: 3.2vw;
    height: 11.73333vw;
    width: 76%;
    color: #69676b;
    padding-right: 4.26667vw;
    padding-left: 4.26667vw;
    border-radius: 2.13333vw;
    border: .26667vw solid #c1c1c1;
    margin-right: 6%;
}

.form:focus {
    outline-color: #007aff;
}

input {
    font-size: 100%;
    font-weight: 500;
    line-height: 1.15;
}

/*
	=========================
	Footer
	=========================
*/

#contrast {
    color: #882cff;
    font-weight: 500;
}

footer {
    background-color: #fafafa;
    padding: 10.66667vw 2.26667vw 10.93333vw;
}

footer .socials {
    display: none;
}

.legal p {
    margin-bottom: 2.13333vw;
}

.info a {
    color: #69676b;
}

.legal {
    margin-bottom: 8.53333vw;
}

.links h3 {
    color: #69676b;
}

.links {
    width: 100%;
}

.legal {
    width: 100%;
}

.footer.flex-container {
    gap: 30%;
    justify-content: inherit;
}

/*
    +++++++++++++++++++++++++++++
    Responsive Design over 768px
    +++++++++++++++++++++++++++++
*/

@media only screen and (min-width: 768px) {

    /*
        =========================
        Flex Elements
        =========================
    */

    .flex-container {
        flex-wrap: nowrap;
    }

    /*
        =========================
        Custom Styles
        =========================
    */

    .container {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .container h2, 
    .container h4, 
    .container p {
        margin-bottom: 1.11111vw;
    }

    p {
        font-size: .97222vw;
        line-height: 1.66667vw;
        max-width: 57.98611vw;
    }

    h2 {
        font-size: 2.63889vw;
        line-height: 3.19444vw;
        max-width: 57.98611vw;
    }

    h3 {
        margin-bottom: .55556vw;
        font-size: .97222vw;
        line-height: 1.66667vw;
        max-width: 57.98611vw;
    }

    h4 {
        font-size: 1.11111vw;
        line-height: 1.66667vw;
        max-width: 57.98611vw;
    }

    /*
        =========================
        Buttons
        =========================
    */

    .btn {
        height: 3.33333vw;
        width: 12.15278vw;
        font-size: 1.11111vw;
        line-height: .83333vw;
        border-radius: .55556vw;
        margin-top: 4.44444vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*
        =========================
        Menu
        =========================
    */

    .top-nav {
        height: 5vw;
        width: 96%;
        border-radius: 1.13333vw;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: .6em;
    }

    .menu-toggle{
        display: none;
    }

    .menu-button-container {
        display: none;
    }

    .element-logo a img {
        display: block;
        margin-left: 2vw;
        width: 12vw;
    }
    .menu .btn {
        margin-top: 0;
        margin-left: 2vw;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: end;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 96%;
        max-width: 960px;
        border-radius: 2.13333vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        box-shadow: none;
        padding: 0;
        font-size: 1.11111vw;
        line-height: 3.33333vw;
        height: 3.33333vw;;
        background: none;
        padding-right: 1.5vw;
    }

    .menu-nav a {
        color: #000;
        font-weight: 500;
    }
    
    .menu-nav {
        display: flex;
        gap: 1vw;
    }
    
    .hide {
        display: none;
    }

    .menu-header .sub-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1vw;
    }

    

    /*
        =========================
        First Section
        =========================
    */

    .first-section {
        padding: 12.54166vw 2.26667vw 2.375vw;
        background-image: url("../images/first-section-long.png");
        background-position: left -.41667vw;
        background-size: 108.88889vw;
    }

    .first-section h2 {
        margin-bottom: 1.66667vw;
        font-weight: 700;
        font-size: 4.72222vw;
        line-height: 5.27778vw;
    }

    .first-section aside {
        display: flex;
    }

    .first-section aside video {
        width: 29.375vw;
        height: 32.84722vw;
    }

    /*
        =========================
        Second Section
        =========================
    */

    .second-section {
        padding: 4.88889vw 2.26667vw 10.36111vw;
    }

    /*
        =========================
        Third Section
        =========================
    */

    .third-section {
        padding: 16.11111vw 2.26667vw 7.43056vw;
        clip-path: polygon(0 6.94444vw,100% 0,100% 100%,0 100%);
        margin-top: -6.94444vw;
        background-image: url("../images/globe-background.png");
        background-position: right -.41667vw;
        background-size: 97.77778vw;
    }

    .third-section .btn {
        height: 2.77778vw;
        width: 16.73611vw;
        font-size: .97222vw;
        line-height: 1.52778vw;
    }

    .third-section span {
        margin-right: .55556vw;
    }

    .arrow {
        width: 1.11111vw;
        height: 1.11111vw;
    }

    .image {
        height: 70%;
    }

    .after-flex {
        display: flex;
        gap: 2vw;
    }

    .after-flex .code {
        max-width: 50%;
    }

    .code aside {
        font-size: .97222vw;
        line-height: 1.604444vw;
    }

    .code-header {
        display: flex;
        justify-content: space-between;
        padding: .34722vw 1.11111vw;
        border-top-left-radius: 1.1vw;
        border-top-right-radius: 1.1vw;
        font-size: .97222vw;
        line-height: 1.52778vw;
    }

    /*
        =========================
        Fifth Section
        =========================
    */

    .fifth-section h3 {
        font-size: 1.66667vw;
        line-height: 2.22222vw;
    }

    .logo.flex-container {
        flex-wrap: wrap;
    }

    .logo .flex-element {
        flex-basis: 32%;
    }

    /*
        =========================
        Sixth Section
        =========================
    */

    .sixth-section h3 {
        font-size: 1.66667vw;
        line-height: 2.22222vw;
    }

    .form {
        width: 75%;
        height: 3.33333vw;
        border-radius: .55556vw;
        border: .06944vw solid #c1c1c1;
        margin-right: 2%;
        font-size: 1.11111vw;
        line-height: .83333vw;
        padding-right: 1.11111vw;
        padding-left: 1.11111vw;
    }

    .form-btn {
        display: inline-block;
        width: 16%;
    }

    /*
        =========================
        Footer
        =========================
    */

    footer{
        font-size: .97222vw;
        line-height: 1.52778vw;
        padding: 6.66667vw 2.26667vw 6vw;
    }

    footer .socials {
        display: inline-block;
    }

    footer a {
        font-size: .97222vw;
        line-height: 2.52778vw;
    }

    .container.flex-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .info img {
        height: .9em;
    }
}