/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	=========================
	Flex Elements
	=========================
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.flex-element {
    flex-basis: 49%;
}

/*
	=========================
	Custom Styles
	=========================
*/

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    max-width: 1568px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-weight: 600;
    font-size: 10.13333vw;
    line-height: 12.26667vw;
}

h3 {
    color: #000;
    font-weight: 600;
    font-size: 4.8vw;
    line-height: 6.4vw;
    margin-bottom: 4.26667vw;
}

h4{
    font-weight: 600;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    color: #882cff;
    margin-bottom: 4.26667vw;
}

p {
    font-size: 3.73333vw;
    line-height: 6.4vw;
    color: #69676b;
}

.container {
    margin-bottom: 4.26667vw;
}

.container h2,
.container h4,
.container p {
    margin-bottom: 4.26667vw;
}

/*
	=========================
	Buttons
	=========================
*/

.btn {
    background-color: #882cff;
    color: #f7f0ff;
    font-weight: 500;
    border-radius: 2.13333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 12.8vw;
    width: 100%;
    margin-top: 8.53333vw;
}

.btn:hover {
    background-color: #6108d4;
    color: #fefefe;
    font-weight: 500;
}

/*
	=========================
	Menu
	=========================
*/

header {
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;

}

.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    height: 3em;
    margin-top: .7em;
    width: 95%;
    border-radius: 2.13333vw;
    z-index: 100;
    box-shadow: 0 0 .5em grey;
}

#menu-toggle {
    display: none;
}

.element-logo a {
    display: block;
}

.element-logo a img {
    display: block;
    height: 8vw;
}

/* Menu button */

.menu-button,
.menu-button::before,
.menu-button::after {
    position: absolute;
    background-color: #000;
    height: 1vw;
    width: 7vw;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -2vw;
}

.menu-button::after {
  content: '';
  margin-top: 2vw;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu-button-container {
    position: absolute;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 7vw;
}

/*

.menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    top: 0;
    margin-top: 50px;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #000;
    background-color: #fff;
}
 */

/*
	=========================
	First Section
	=========================
*/

.first-section {
    display: block;
    width: 100%;
    padding: 21.33333vw 2.26667vw 14.93333vw;
    background-color: #fefefe;
    background-image: url("../images/first-section.png");
    background-repeat: no-repeat;
    background-position: left -12.26667vw;
    background-size: 104vw;
}

.first-section h2 {
    font-weight: 700;
}

/*
	=========================
	Second Section
	=========================
*/

.second-section {
    background-color: #fafafa;
    padding: 10.66667vw 2.26667vw 18.66667vw;
  }

/*
	=========================
	Third Section
	=========================
*/

.third-section {
  background-color: #151515;
  padding: 17.86667vw 2.26667vw 10.66667vw;
  clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
  margin-top: -8vw;
  background-image: url("../images/third-section-background.png");
  background-repeat: no-repeat;
  background-position: right -.26667vw;
  background-size: 104vw;
}

.third-section h2 {
    color: #fafafa;
}

.third-section span{
    margin-right: 2.13333vw;
}

/*
	=========================
	Fourth Section
	=========================
*/

.fourth-section {
    background-color: #6108d4;
    padding: 10.66667vw 2.26667vw 17.86667vw;
}

.fourth-section h2,
.fourth-section h3 {
    color: #fafafa;
}

.fourth-section p {
    color: #d4b4ff;
}

/*
	=========================
	Fifth Section
	=========================
*/

.logo .col-2-4 {
    margin-top: 8.53333vw;
}

.fifth-section {
    padding: 18.66667vw 2.26667vw;
    background-color: #fafafa;
    clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
    margin-top: -8vw;
}

.fifth-section h3 {
    margin-top: 6.4vw;
    font-size: 6.4vw;
    line-height: 2.53333vw;
}

/*
	=========================
	Sixth Section
	=========================
*/
.sixth-section {
    padding: 18.4vw 4.26667vw 10.66667vw;
    background-color: #fefefe;
    clip-path: polygon(0 8vw,100% 0,100% 100%,0 100%);
    margin-top: -8vw;
}

.sixth-section h3 {
    font-size: 6.4vw;
    line-height: 8.53333vw;
    margin-bottom: 2.13333vw;
}

.sixth-section div {
    margin-bottom: 10.66667vw;
}

.form-btn {
    display: inline-block;
    height: 12.8vw;
    width: 16%;
    font-weight: 500;
    font-size: 4.26667vw;
    line-height: 3.2vw;
    border-radius: 2.13333vw;
    border: none;
}

.form{
    line-height: 3.2vw;
    height: 11.73333vw;
    width: 76%;
    color: #69676b;
    padding-right: 4.26667vw;
    padding-left: 4.26667vw;
    border-radius: 2.13333vw;
    border: .26667vw solid #c1c1c1;
    margin-right: 6%;
}

.form:focus {
    outline-color: #007aff;
}

input {
    font-size: 100%;
    font-weight: 500;
    line-height: 1.15;
}

/*
	=========================
	Footer
	=========================
*/

#contrast {
    color: #882cff;
    font-weight: 500;
}

footer {
    background-color: #fafafa;
    padding: 10.66667vw 2.26667vw 14.93333vw;
}

.legal p {
    margin-bottom: 2.13333vw;
}

.info a {
    color: #69676b;
}

.legal {
    margin-bottom: 8.53333vw;
}

.links h3 {
    color: #69676b;
}



/*
    +++++++++++++++++++++++++++++
    Responsive Design over 768px
    +++++++++++++++++++++++++++++
*/

@media screen and (min-width: 768px) {

    /*
        =========================
        Flex Elements
        =========================
    */

    .flex-container {
        flex-wrap: nowrap;
    }

    /*
        =========================
        Custom Styles
        =========================
    */

    body {
        font-size: 1.11111vw;
        line-height: 1.94444vw;
    }

    /*
        =========================
        First Section
        =========================
    */

    .first-section {
        padding: 18.54166vw 2.26667vw 9.375vw;
        background-position: left -.41667vw;
        background-size: 108.88889vw;
    }

    /*
        =========================
        Second Section
        =========================
    */

    .second-section {
        padding: 8.88889vw 2.26667vw 17.36111vw;
    }

    /*
        =========================
        Third Section
        =========================
    */

    .third-section {
        padding: 16.11111vw 2.26667vw 7.43056vw;
        clip-path: polygon(0 6.94444vw,100% 0,100% 100%,0 100%);
        margin-top: -6.94444vw;
        background-image: url("../images/globe-background.png");
        background-position: right -.41667vw;
        background-size: 97.77778vw;
    }

}